
     
<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th class="disabled-sorting">Details</th>
                                        <th>Reporter</th>
                                        <th>Date &amp; Time</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th class="disabled-sorting">Details</th>
                                        <th>Reporter</th>
                                        <th>Date &amp; Time</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {{#each news}}
                                    
                                    <tr>
                                        <td>{{ this.id}}</td>
                                        <td>{{this.headline}}</td>
                                        <td><button class="btn btn-default"><i class="material-icons">link</i></button></td>
                                        <td>{{ this.name }}</td>
                                        <td>{{formatDate   this.created_at 'long'}}</td>
                                       {{!-- <td>{{moment date=this.created_at  local=true }}</td>   --}}
                                       
                                        <td class="text-right">
                                            <a href="/news-update/{{this.id}}" class="btn btn-simple btn-info btn-icon like">
                                                <i class="material-icons">border_color</i>
                                            </a>
                                            <a href="#" class="btn btn-simple btn-warning btn-icon edit">
                                                <i class="material-icons">dvr</i>
                                            </a>
                                            <div "name":"Admin"  {{#ifCond  ../user.id '===' 14}}>
                                            <a href="/delete/{{this.id}}" class="btn btn-simple btn-danger btn-icon remove">
                                                <i class="material-icons">close</i>                                                
                                            </a>
                                            <a href="/activate/{{this.id}}" class="btn btn-simple btn-danger btn-icon check">
                                                <i class="material-icons" style="background-color:green">check</i>
                                            </a>
                                            </div>
                                            {{/ifCond}}
                                            
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>