<script>
    function a(){
      alert('sub');
      

    }
   
</script>
<div class="content">
   
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post" action="/news-update/{{id}}" class="form-horizontal">
                    <input type="hidden" name="id" value="{{id}}">
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">শিরোনাম</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" name="headline" class="form-control" placeholder="সুন্দর শিরোনাম লিখুন" value="{{headline}}">
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিভাগসমূহ</label>
                                {{!-- {{#if message}}
                                <span class="bg-danger">
                                    {{message}}
                                </span>
                                {{/if}} --}}
                                <div class="col-sm-10">
                                    {{#each category_list}}
                                        <div class="checkbox checkbox-inline">
                                            <label>
                                                <input type="checkbox"  id="catagory" name="optionsCheckboxes[]" id="check" value="{{ this.id }}"
                                                {{#each ../sel_category}}
                                                     {{#ifCond ../this.id '===' this.id}}
                                                        checked
                                                    {{else}}
                                                        
                                                    {{/ifCond}}
                                                {{/each}}
                                                >{{this.name}} 
                                            </label>
                                        </div>
                                    {{/each}}
                                     {{#if message}}
                                    <span class="help-block bg-danger"><strong>{{message}}</strong></span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিশেষত্ব</label>
                                <div class="col-sm-10">
                                    <div style="padding-top: 28px;">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="newsT"
                                                {{#if this.top_news}}
                                                    checked
                                                {{else}}
                                                    
                                                {{/if}}
                                                > টপ নিউজ
                                            </label>
                                        </div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox"
                                                {{#if this.breaking_news}}
                                                    checked
                                                {{else}}
                                                    
                                                {{/if}}
                                                > ব্রেকিং নিউজ 
                                            </label>
                                        </div>
                                        <span class="help-block">Error Message</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">ছবি</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" placeholder="ছবি যুক্ত করুন" value="{{ this.photo }}">
                                    </div>
                                 <button class="btn" ><a href="/image/all"  target="_blank" style="color: #C82027">Images List</a></button> 
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">ভিডিও</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" placeholder="ভিডিও যুক্ত করুন" value="{{ this.video }}">
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিস্তারিত বর্ণনা</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control tinymce" name="description" placeholder="বিস্তারিত বর্ণনা লিখুন" style="vertical:none;">{{{this.description}}}</textarea>
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">ট্যাগসমূহ</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" value="DBC News,ডিবিসি নিউজ," class="tagsinput" data-role="tagsinput" data-color="rose" />
                                        <!-- can change data-color="rose" with one of our colors primary | warning | info | danger | success -->
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button class="btn btn-block btn-success"  type="submit">Update  News</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>